<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Data Search</h2>
	<div id="Data">
	<label for="BookID">Book ID:</label>
	<input type="text" id="BookID"><br><br>
	<label for="MemberID">Member ID:</label>
	<input type="text" id="MemberID"><br><br>
	<label for="LoanID">Loan ID:</label>
	<input type="text" id="LoanID"><br><br>
	<label for="UserID">User ID:</label>
	<input type="text" id="UserID"><br><br>
	</div>
	<div id="Search">
	<button type="button" id="SearchButton">Search</button>
	</div>
	<div id="Tables">
		<table>
			<tr>
				<th>header</th>
				<th>header</th>
				<th>header</th>
			</tr>
		</table>
	</div>
	<a href="index.html" id="return">Return</a>
	
<script src="../JS/BookTracker.js"></script>
	
</body>
</html>
