<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Data Search</h2>
	<div id="Data">
	<label for="BookID">Book ID:</label>
	<input type="text" id="bookID" style="width: 35%;"><br><br>
	<button type="button" id="bookSearch">Search</button><br><br>

	<label for="Author">Author Name:</label>
	<input type="text" id="authName" style="width: 35%;"><br><br>
	<button type="button" id="authSearch">Search</button>


	</div>


	<a href="/index" id="return">Return</a>
	
<script src="static/scripts/app.js"></script>

<!--event handlers-->
<script type="text/javascript">document.getElementById("bookSearch").addEventListener("click", bookSearchFunc);</script>
<script type="text/javascript">document.getElementById("authSearch").addEventListener("click", authSearchFunc);</script>

</body>
</html>
