<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Home</h2>
	<div id="links">
		<a href="/new-member">New Member</a>
		<a href="/new-book">New Book</a>
		<a href="/new-user">New User</a>
		<a href="/manual-input">Manual Input</a>
		<a href="/data-search">Data Search</a>
		<a href="/remove-entry">RemoveEntry</a>
	</div>
	
<script src="../JS/BookTracker.js"></script>
	
</body>
</html>
