<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Log In</h2>
	<div id="logIn">
		<label for="Username" id="UserLogIn">Username:</label>
		<input type="text" id="Username"><br><br>
		<label for="Password" id="PassLogIn">Password:</label>
		<input type="password" id="Password"><br><br>
		<button type="button" id="LogInButton">Log In</button>
	</div>

<script src="../JS/log-in-JS.js"></script>

</body>
</html>
