<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Log In</h2>

	<form action="{{ url_for('login') }}" method="post">
		<label for="Username">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="username" placeholder="Username" id="UserLogIn" required>
		<label for="Password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Password" id="PassLogIn" required>
		<input type="submit" value="LogInButton">

<script src="../JS/BookTracker.js"></script>

</body>
</html>
