<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Manual Input</h2>
	<div id="Input">
	<label for="BookID">Book ID:</label>
	<input type="text" id="BookID"><br><br>
	<label for="MemberID">Member ID:</label>
	<input type="text" id="MemberID"><br><br>
	<label for="BookStatus">Book Status:</label>
	<input type="text" id="BookStatus"><br><br>
	</div>
	<div id="AddUpButton">
	<button type="button" id="AddUpdate">Add/Update</button>
	</div>
	<a href="/index" id="return">Return</a>

<script src="../JS/manual-input-JS.js"></script>

</body>
</html>
