<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">New User</h2>
	<div id="NewUser">
		<label for="UserFName">First Name:</label>
		<input type="text" id="UserFName"><br><br>
		<label for="UserLName">Last Name:</label>
		<input type="text" id="UserLName"><br><br>
		<label for="UserPassword">User Password:</label>
		<input type="password" id="UserPassword"><br><br>
		<label for="Username">Postcode:</label>
		<input type="text" id="Username"><br><br>
		<button type="button" id="UserButton">Add</button>
	</div>
	<a href="/index" id="return">Return</a>
	
<script src="static/scripts/app.js"></script>

<!--event handlers-->
<script type="text/javascript">document.getElementById("UserButton").addEventListener("click", NewUserFunc);</script>
</body>
</html>
