<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">New Member</h2>
	<div id="NewMem">
		<label for="Member">Member Name:</label>
		<input type="text" id="Member"><br><br>
		<button type="button" id="MemberButton">Add</button>
	</div>
	<a href="/index" id="return">Return</a>
	
<script src="../JS/BookTracker.js"></script>
	
</body>
</html>
