<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Software Engineering Assignment</title>
	<h1>Library Book Tracker</h1>
</head>
<body>
	<h2 id="pageTitle">Remove Entry</h2>
	<div id="RemoveBook">
	<label for="BookID">Book ID:</label>
	<input type="text" id="BookID"><br><br>
	<button type="button" id="RemoveBButton">Remove</button>
	</div>
	<div id="RemoveMember">
	<label for="MemberID">Member ID:</label>
	<input type="text" id="MemberID"><br><br>
	<button type="button" id="RemoveMButton">Remove</button>
	</div>
	<div id="RemoveUser">
	<label for="UserID">User ID:</label>
	<input type="text" id="UserID"><br><br>
	<button type="button" id="RemoveUButton">Remove</button>
	</div>
	<a href="/index" id="return">Return</a>
	
<script src="../JS/BookTracker.js"></script>
	
</body>
</html>
